<%= form_with(model: [appointment, treatment]) do |form| %>
<%= render "shared/error_messages", object: treatment %>
  <div class="mb-3">
    <%= form.label :name, "Treatment Name", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :medication, "Medication", class: "form-label" %>
    <%= form.text_field :medication, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :dosage, "Dosage", class: "form-label" %>
    <%= form.text_field :dosage, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :administered_at, "Administered At", class: "form-label" %>
    <%= form.datetime_field :administered_at, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :clinical_notes, "Treatment Notes", class: "form-label" %>
    <%= form.rich_text_area :clinical_notes, class: "form-control" %>
  </div>

  <div>
    <%= form.submit "Save Treatment", class: "btn btn-primary" %>
  </div>
<% end %>