<h1>Veterinarians</h1>
<table class="table table-striped table-hover mt-3">
  <thead class="table-dark">
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Specialization</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @vets.each do |vet| %>
      <tr>
        <td><%= vet.first_name %> <%= vet.last_name %></td>
        <td><%= vet.email %></td>
        <td><%= vet.specialization %></td>
        <td><%= link_to "View Details", vet_path(vet), class: "btn btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>